body {
  width: 300px;
  height: 300px;
  color:aliceblue;
  background: 0%;
  margin: 0px;
}
 #Phon.Rathana.jpeg{
   width: 400px;
   height: 4000px;
   background-image: url("image../Phon.Rathana.jpeg") scroll left top;
   box-shadow: white;
   background-image: white;
   border-image: square;
   margin: center;
 }
 #image {
    width: 400px;
    height: 400px;
    box-shadow: white;
    border-image: 300px;
    text-align: 0%;
    background-image: none;
    counter-reset: none;
    border-image: auto;
} 
  #button {
    width: 0px;
    height: 0px;
}

