.logo-logovko-img-1× {
  box-shadow: white;
  width: auto;
  height: auto;
}
.Phon.Rathana-logo.imag {
  display: block;
  width: 400px;
  height: 4000px;
  background-image: url("...image/Phon.Rathana.jpeg") scroll left top;
  box-shadow: white;
  background-image: white;
  margin: center;
 }

